Custom/TestOkApi/Web References/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fuzzy.bnu.edu.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://fuzzy.bnu.edu.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fuzzy.bnu.edu.cn/">
      <s:element name="ListAllPdas">
        <s:complexType />
      </s:element>
      <s:element name="ListAllPdasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllPdasResult" type="tns:ArrayOfPda" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pda" nillable="true" type="tns:Pda" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pda">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IpAddr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdaName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePdaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePdaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddImageResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="imageId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListAllPdasSoapIn">
    <wsdl:part name="parameters" element="tns:ListAllPdas" />
  </wsdl:message>
  <wsdl:message name="ListAllPdasSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllPdasResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePdaSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePda" />
  </wsdl:message>
  <wsdl:message name="UpdatePdaSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePdaResponse" />
  </wsdl:message>
  <wsdl:message name="AddImageSoapIn">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="AddImageSoapOut">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="GetImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ListAllPdas">
      <wsdl:input message="tns:ListAllPdasSoapIn" />
      <wsdl:output message="tns:ListAllPdasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePda">
      <wsdl:input message="tns:UpdatePdaSoapIn" />
      <wsdl:output message="tns:UpdatePdaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <wsdl:input message="tns:AddImageSoapIn" />
      <wsdl:output message="tns:AddImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input message="tns:GetImageSoapIn" />
      <wsdl:output message="tns:GetImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAllPdas">
      <soap:operation soapAction="http://fuzzy.bnu.edu.cn/ListAllPdas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePda">
      <soap:operation soapAction="http://fuzzy.bnu.edu.cn/UpdatePda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap:operation soapAction="http://fuzzy.bnu.edu.cn/AddImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://fuzzy.bnu.edu.cn/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAllPdas">
      <soap12:operation soapAction="http://fuzzy.bnu.edu.cn/ListAllPdas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePda">
      <soap12:operation soapAction="http://fuzzy.bnu.edu.cn/UpdatePda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <soap12:operation soapAction="http://fuzzy.bnu.edu.cn/AddImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap12:operation soapAction="http://fuzzy.bnu.edu.cn/GetImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:4235/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:4235/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>